@model User
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <br/>
    <h1 style="margin: 20px;">User Info</h1>
    <hr/>
    <div style="margin: 20px;">
        <h2>User id : @Model.Id</h2>
        <h3>User name : @Model.Name</h3>
        <h3>Email : @Model.Email</h3>
        <h3>User created at : @Model.CreatedAt</h3>
        <div>
            <img src="@Model.Avatar" class="img-thumbnail"/>
            <h3>Avatar</h3>
        </div>
        @if (Model.Posts.Count != 0)
        {
            <h3>Posts :</h3>
            <ul>
                @foreach (var post in Model.Posts)
                {
                    <li>@Html.ActionLink(post.Title, "Posts", "Entity", new {id = post.Id}, null)</li>
                }
            </ul>
        }
        else
        {
            <h3>No posts</h3>
        }
        @if (Model.ToDos.Count != 0)
        {
            <h3>Todo :</h3>
            <ul>
                @foreach (var todo in Model.ToDos)
                {
                    <li>@Html.ActionLink(todo.Name, "Todos", "Entity", new {id = todo.Id}, null)</li>
                }
            </ul>
        }
        else
        {
            <h3>No todos</h3>
        }
    </div>
    <br/>
</div>
