@model List<User>
<div class="container">
    @foreach (var user in Model)
    {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@user.Name</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="@user.Avatar" class="img-circle img-responsive"> </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td style="color:gray">User email</td>
                                        <td><a href="#">@user.Email</a></td>
                                    </tr>
                                    <tr>
                                        <td  style="color:gray">Created at</td>
                                        <td>@user.CreatedAt</td>
                                    </tr>
                                    <tr>
                                        <td  style="color:gray">Country</td>
                                        @if(user.Address != null)
                                        {
                                            <td>@user.Address.Country</td>
                                        }
                                        else
                                        {
                                            <td>-//-</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td style="color:gray">
                                            City
                                        </td>
                                        @if(user.Address != null)
                                        {
                                            <td>@user.Address.City</td>
                                        }
                                        else
                                        {
                                            <td>-//-</td>
                                        }
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>

                            <a href="#" class="btn btn-primary">Show posts</a>
                            <a href="#" class="btn btn-primary">Show todos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>